body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ffffff8a, #3e82ff);
  margin: 0;
  color: #333;
}

header {
    background: linear-gradient(135deg, #ffffff8a, #3e82ff);
  color: #fff;
  text-align: center;
  padding: 30px 20px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 30px;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.info img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.info h2 {
  margin: 0;
  font-size: 1.6rem;
}

.info p {
  margin: 4px 0;
  color: #555;
}

h3 {
  border-bottom: 2px solid #3e82ff;
  display: inline-block;
  padding-bottom: 4px;
  margin-top: 30px;
}

.servicos {
  margin-top: 20px;
}

.servico {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.servico span {
  font-weight: 600;
}

.valor {
  color: #000000;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
   background: linear-gradient(135deg, #ffffff8a, #3e82ff);
  margin-top: 0px;
}
